/* Color Palette */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #ecf0f1;
  --text-color: #333;
  --accent-color: #e74c3c;
}

/* Dark Mode Colors */
body.dark-mode {
  --background-color: #333;
  --text-color: #ecf0f1;
  --primary-color: #2980b9;
  --secondary-color: #27ae60;
  --accent-color: #c0392b;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Spacing */
body, .container, button, .option-button {
  margin: 10px;
  padding: 10px;
}

h2 {
  margin-bottom: 20px;
}

button, .option-button {
  margin: 5px;
}

/* Buttons */
button, .option-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover, .option-button:hover {
  background-color: var(--accent-color);
}

/* Switch Button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 80px 10px 50px;
    max-width: 100%;
  }

  .top-bar {
    font-size: 24px;
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  .option-button {
    padding: 8px;
    font-size: 14px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }

  #timer {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 60px 10px 40px;
  }

  .top-bar {
    font-size: 20px;
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  .option-button {
    padding: 6px;
    font-size: 12px;
  }

  button {
    padding: 6px 12px;
    font-size: 12px;
  }

  #timer {
    font-size: 14px;
  }
}


/* General Styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  flex: 1;
}

.subtext {
  font-size: 14px;
  color: #b2b2b2;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #3b5998;
  border-radius: 0px;
}

#question-counter {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

#options {
  margin-bottom: 20px;
}

.option-button {
  display: block;
  width: 90%;
  border: 1px solid;
  border-radius: 0px;
  text-align: left;
}

#timer {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

#detailed-results {
  margin-top: 20px;
}

.result-item {
  border: 1px solid;
  border-radius: 0px;
  padding: 8px;
  margin-bottom: 10px;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid;
  padding: 8px;
  text-align: left;
}

.leaderboard-table th {
  background-color: #353b48;
  color: white;
}

.footer {
  text-align: left;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.footer a:hover {
  text-decoration: underline;
}


/* Day Theme */
body.day {
  background-color: #ffffff;
  color: #333333;
}

.top-bar.day {
  background-color: #2779a7;
  color: #ffffff;
  font-family: 'Bayon', sans-serif;
  font-size: 40px;
  text-align: center;
}

.footer.day {
  background-color: #2779a7;
  color: #ffffff;
  font-family: 'Bayon', sans-serif;
}

.option-button.day {
  border-color: #00a65a;
  background-color: #ffffff;
  color: #333333;
}

.option-button.day.selected {
  background-color: #00a65a;
  color: #ffffff;
}

button.day {
  background-color: #00a65a;
  color: #ffffff;
}

.correct-answer.day {
  color: #00a65a;
  font-weight: bold;
}

.wrong-answer.day {
  color: #b31717;
  font-weight: bold;
}

/* Night Theme */
body.night {
  background-color: #2F3640;
  color: #ffffff;
}

.top-bar.night {
  background-color: #353B48;
  color: #ffffff;
  font-family: 'Bayon', sans-serif;
  font-size: 40px;
  text-align: center;
}

.footer.night {
  background-color: #353B48;
  color: #ffffff;
  font-family: 'Bayon', sans-serif;
}

.option-button.night {
  border-color: #00B894;
  background-color: #2F3640;
  color: #ffffff;
}

.option-button.night.selected {
  background-color: #00B894;
  color: #ffffff;
}

button.night {
  background-color: #00B894;
  color: #ffffff;
}

.correct-answer.night {
  color: #00B894;
  font-weight: bold;
}

.wrong-answer.night {
  color: #D63031;
  font-weight: bold;
}
